@import 'template/login';
@import "template/carousel";
@import "template/present";
@import "template/navbar";
@import "template/footer";
@import "template/admin";
@import "template/articlindex";
@import "template/asso";

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}

body {
  background: dodgerblue;

  h2 {
    color: whitesmoke;
    font-size: 45px;
    padding-top: 2.5rem;
  }


}


