body.login-page {
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
body.login-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: left;
}

.head {
  height: 25rem;
  position: relative;
}
.head h1 {
  color: white;
  transform: rotate(-10deg);
  position: absolute;
  z-index: 3;
  font-size: 110px;
}
.head svg {
  position: absolute;
  height: 30rem;
  top: 0;
  left: 10rem;
  transform: rotate(18deg);
}

.clippathead {
  box-sizing: border-box;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: orangered;
  clip-path: polygon(57% 0, 100% 28%, 100% 63%, 78% 40%, 29% 68%, 0 34%, 0 17%);
  z-index: -1;
}

.presentation {
  position: relative;
  padding-top: 3rem;
  display: flex;
}
.presentation img {
  position: relative;
  height: 20rem;
  margin-left: 10rem;
  border-radius: 165px 27px 200px 83px;
  box-shadow: 15px 20px 20px -8px rgba(0, 0, 0, 0.54);
}
.presentation h2 {
  position: relative;
  float: right;
}
.presentation p {
  position: relative;
  width: 50%;
  float: right;
  margin-left: 10rem;
  padding-top: 2rem;
  color: whitesmoke;
}
.presentation a {
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  margin-top: 2rem;
  background-color: #00004b;
  border-radius: 25px;
}

.clippath {
  box-sizing: border-box;
  position: absolute;
  height: 70vh;
  width: 100%;
  background-color: rebeccapurple;
  clip-path: polygon(61% 42%, 100% 1%, 100% 91%, 27% 60%, 0 83%, 0% 60%, 0 15%);
  z-index: -1;
  top: 33.5rem;
}

nav {
  height: 4rem;
  width: 100%;
  padding-right: 0rem;
  position: sticky;
  background-color: #00004b;
  font-size: 25px;
}
nav .logo {
  position: absolute;
  margin-top: 6rem;
  height: 10rem;
  width: auto;
  right: 0;
}

footer {
  background: #000030;
  height: 25rem;
  width: 100%;
  margin-top: 5rem;
}
footer .moutain {
  box-sizing: border-box;
  position: absolute;
  height: 15rem;
  width: 100%;
  background-color: dodgerblue;
  clip-path: polygon(62% 42%, 75% 20%, 93% 29%, 100% 44%, 100% 0, 0 0, 0 42%, 20% 22%, 34% 57%, 44% 13%);
}
footer .pied {
  position: relative;
  top: 10rem;
  color: white;
  display: flex;
  align-content: space-between;
}
footer .pied .info {
  padding-right: 10rem;
}
footer .pied li {
  list-style: none;
}
footer .pied li a {
  text-decoration: none;
  color: white;
}
footer .pied .contact {
  margin-left: 10rem;
}

.article {
  position: relative;
  display: flex;
  margin: 2rem 0;
}
.article .first-article {
  margin-left: 10rem;
}
.article .secondary {
  float: right;
  margin-right: 10rem;
}
.article a {
  color: white;
  background-color: #17a2b8;
  text-decoration: none;
}

.blogDirection h2 a {
  color: white;
  text-decoration: none;
}

.clippatharticle {
  box-sizing: border-box;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 60rem;
  background-color: forestgreen;
  clip-path: polygon(21% 43%, 52% 16%, 75% 54%, 100% 22%, 100% 88%, 74% 81%, 48% 55%, 21% 76%, 0 59%, 0 36%);
  z-index: -1;
}

.asso img {
  width: 35rem;
  border-radius: 25px;
}
.asso .bio {
  padding: 0 5rem;
}
.asso p {
  color: white;
}
.asso a {
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  margin-top: 2rem;
  background-color: #00004b;
  border-radius: 25px;
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: dodgerblue;
}
body h2 {
  color: whitesmoke;
  font-size: 45px;
  padding-top: 2.5rem;
}

/*# sourceMappingURL=index.css.map */
