.article{
  position: relative;
  display: flex;
  margin: 2rem 0;
  .first-article{
    margin-left: 10rem;
  }
  .secondary{
    float: right;
    margin-right: 10rem;
  }
  a{
    color: white;
    background-color: #17a2b8;
    text-decoration: none;
  }

}
.blogDirection{

  h2{
    a{
      color: white;
      text-decoration: none;


    }
  }
}

.clippatharticle {
  box-sizing: border-box;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 60rem;
  background-color: forestgreen;
  clip-path: polygon(21% 43%, 52% 16%, 75% 54%, 100% 22%, 100% 88%, 74% 81%, 48% 55%, 21% 76%, 0 59%, 0 36%);


  z-index: -1;


}