.asso{

img{
  width: 35rem;
  border-radius: 25px;
}
.bio{
  padding: 0 5rem;
}
p{
  color: white;
}
a{
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  margin-top: 2rem;
  background-color: #00004b;
  border-radius: 25px;
}

}