
.head {
  height: 25rem;
  position: relative;
  h1 {
    color: white;
    transform: rotate(-10deg);
    position: absolute;
    z-index: 3;
    font-size: 110px;

  }
  svg{
    position: absolute;
    height: 30rem;
    top: 0;
    left:10rem;
    transform: rotate(18deg);

  }
}
  .clippathead {
    box-sizing: border-box;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: orangered;
    clip-path: polygon(57% 0, 100% 28%, 100% 63%, 78% 40%, 29% 68%, 0 34%, 0 17%);


    z-index: -1;


  }
