footer{
  background: #000030;
  height: 25rem ;
  width: 100%;
  margin-top: 5rem;

  .moutain{
    box-sizing: border-box;
    position: absolute;
    height: 15rem;
    width: 100%;
    background-color: dodgerblue;
    clip-path: polygon(62% 42%, 75% 20%, 93% 29%, 100% 44%, 100% 0, 0 0, 0 42%, 20% 22%, 34% 57%, 44% 13%);


  }
  .pied{
    position: relative;
    top: 10rem;
    color: white;
    display: flex;
    align-content: space-between;
    .info{
      padding-right: 10rem;
    }
    li{
      list-style: none;
      a{
        text-decoration: none;
        color: white;
      }
    }
    .contact{
      margin-left: 10rem;
    }
  }
}
