body.login-page {
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;

    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      text-align: left;
    }

}