nav{

  height: 4rem;
  width: 100%;
  padding-right: 0rem;
  position: sticky;
  background-color:rgba(0, 0, 75, 1);
  font-size: 25px;



  .logo{
    position: absolute;
    margin-top: 6rem;
    height: 10rem;
    width: auto;
    right: 0;
  }

}