.presentation{
  position: relative;
  padding-top: 3rem;
  display: flex;


  img{
    position: relative;
    height: 20rem;
    margin-left: 10rem;
    border-radius: 165px 27px 200px 83px;
    box-shadow: 15px 20px 20px -8px rgba(0,0,0,0.54);
  }
  h2{
    position: relative;
    float: right;
  }
  p{
    position: relative;
    width: 50%;
    float: right;
    margin-left: 10rem;
    padding-top: 2rem;
    color: whitesmoke;

  }
  a{
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    background-color: #00004b;
    border-radius: 25px;
  }
}

.clippath{
  box-sizing: border-box;
  position: absolute;
  height: 70vh;
  width: 100%;
  background-color: rebeccapurple;
  clip-path: polygon(61% 42%, 100% 1%, 100% 91%, 27% 60%, 0 83%, 0% 60%, 0 15%);
  z-index: -1;
  top: 33.5rem;


}